

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </p>><%= link_to "add a plant", new_garden_plant_path(@garden), class: 'btn btn-primary'%></p>

</div>
</div>


<!-- div.container>div.row>div.col-4 -->
<div class="container small-margin-top">
  <div class="row">
    <% @garden.plants.each do |plant| %>
    <div class="col-4">
      <div class="card">
        <% if plant.image_url.nil? %>
        <p>no image</p>
        <% else %>
        <%= image_tag plant.image_url, height: 300 %>
        <% end %>
        <h3 class="text-center"><%= link_to plant.name, plant_path(plant) %></h3>
        <% plant.plant_tags.each do |plant_tag| %>
        #<%= plant_tag.tag.name.capitalize  %>
        <% end %>

        <%= link_to  plant_path(plant), method: :delete, data: {confirm: 'Are you sure???'}, class: 'btn btn-danger' do %>

        <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

</div>




